.fc .fc-button-primary:not(:disabled).fc-button-active:focus, 
.fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: 0px 0px 5px 0.2rem var(--fc-button-active-bg-color);
}
.fc .fc-button-primary:focus {
    box-shadow: 0px 0px 5px 0.2rem var(--fc-button-bg-color);
}
.fc-event-main {
    cursor: pointer;
}
.fc-daygrid-day:hover {
    --hover-color: rgba(21, 101, 193, 0.5);
    --fc-today-bg-color: var(--hover-color);
    background-color: var(--hover-color);
}
.fc-daygrid-day:active {
    --active-color: rgba(174, 249, 185, 0.5);
    --fc-today-bg-color: var(--active-color);
    background-color: var(--active-color);
}
#spinner { 
    border-color: rgb(213, 213, 213);
    border-top-color: rgba(21, 101, 193, 1); 
}