
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  }
:root {
    --header-height: 104px;
    --footer-height: 64px;
    --min-display: calc(100vh - var(--footer-height) - var(--header-height));

    --fc-button-bg-color: #1565c0b6;
    --fc-button-border-color: transparent;
    --fc-button-hover-bg-color: #1565c0;
    --fc-button-active-bg-color: rgba(255, 238, 88, 1);
    --fc-button-hover-border-color: transparent;
    --fc-button-active-border-color: transparent;
}

* {
    font-family: Roboto;
}

.row-1 p{
    width: inherit;
}