@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 104px;
    --footer-height: 64px;
    --min-display: calc(100vh - var(--footer-height) - var(--header-height));

    --fc-button-bg-color: red;
    --fc-button-hover-bg-color: blue;
    --fc-button-active-bg-color: green;
}

.row-1 p{
    width: inherit;
}